.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0rem ;
  padding: 2rem;
  color: white;
  width: 60%;
  padding-top:0 ;

}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.chat-window {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 100px;
  padding-right: 8px;
  
  /* Скрытие скроллбара */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE/Edge */
}

.chat-window::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.chat-bubble {
  display: flex;
  align-items: flex-end;
  max-width: 100%;
  padding: 0.5rem;
  border-radius: 12px;
  background-color: #2e2e2e;
  position: relative;
}

.chat-bubble.left {
  align-self: flex-start;
  background-color: #3c3c3c;
  flex-direction: row;
}

.chat-bubble.right {
  align-self: flex-end;
  background-color: #1e88e5;
  flex-direction: row-reverse;
}

.bubble-content {
  padding: 0.5rem 1rem;
  color: white;
  word-break: break-word;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.meta {
  font-size: 0.75rem;
  opacity: 0.7;
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}

.file-link {
  display: inline-block;
  margin-top: 4px;
  color: #90caf9;
  text-decoration: none;
}

.file-link:hover {
  text-decoration: underline;
}

.input-area {
  display: flex;
  bottom: 0;
  position:fixed;
  gap: 1rem;
  width:1200px;
}

.input-area textarea {
  flex: 1;
  max-height: 60px;
  padding: 5px 12px;
  border: 1px solid #ccc;
  resize: none;
  font-size: 14px;
  line-height: 1.4;
  outline: none;
  transition: border-color 0.2s;
  background-color: #2e2e2e;
}

.input-area input[type="file"] {
  background: none;
  color: white;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 0.3rem;
  max-height: 30px;
  max-width: 30px;
  cursor: pointer;
  align-self: flex-end;
}

.input-area button {
  background-color: #43a047;
  color: white;
  border: none;
  padding: 0.6rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-end;
  max-width: 50px; /* иконку поставить */

}

